body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}


.paragraph{
    margin-left: 350px;
    margin-right: 350px;
    font-weight: normal;
}


h1 {
    color: rgb(119, 119, 119);
    margin-left: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h2 {
    line-height: 1;
    color: rgb(54, 54, 54);
    margin-left: 200px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


h3 {
    line-height:2; /* Adjust this value to change the spacing */

    color: rgb(54, 54, 54);
    margin-left: 300px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    line-height: 2; /* Adjust this value to change the spacing */

    color: rgb(54, 54, 54);
    margin-left: 150px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.headerLink {
    margin-right: 50px; /* Adjust this value to change the size of the space */
}

